.index-container {
  display: flex;
  color: white;
}

.card {
  background: none;
  border: none;
  text-decoration: none;
}

.photo-size {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-right: 10px;
  font-size: 14px;
  margin: 0px 5px;
}

.homepage-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-right: 10px;
  font-size: 14px;
}

.card-description {
  display: flex;
  justify-content: space-between;
  background: none;
  font-family: Roboto;
  color: black;
}

.card a:hover {
  text-decoration: none;
}
.card-description:hover {
  color: #161a1d;
  text-decoration: none;
}

.card-description a:hover {
  text-decoration: none;
}

.euro-sign {
  font-size: 8px;
  margin-left: 2px;
}

.card-description a {
  color: black;
  font-size: 14px;
}

.index-map {
  background: green;
}

.card-picture img {
  border-radius: 10px;
}

.card-name {
  font-weight: 500;
  font-family: Roboto;
}

.card-price {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0px;
}

.card-link:hover {
  text-decoration: none;
  transform: scale(1.1, 1.1);
}
