.form-new-instrument {
  padding: 30px;
  border-radius: 10px;
}

.form-new-instrument input {
  border-radius: 5px;
}

.form-new-instrument select {
  border-radius: 5px;
}

.form-new-instrument textarea {
  border-radius: 5px;
}

#submit-new-form {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  background: #5E1515;
}
