#log-in {
  padding: 10px 0;
  margin-top: 5px;
}

.form-inputs input {
  border-radius: 5px;
}

.form-actions {
  background: #5E1515;
  display: inline;
  padding: 12px;
  border-radius: 5px;
}

.form-actions input {
  color: white;
}

#first_name {
  width: 50%;
  color: white;
}
