.bookings-form {
  background: white;
  padding: 15px;
  width: 80%;
  border-radius: 5px;
}

.submit-booking-form {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#user-card-show-page {
  background: white;
}
