.bookings-form {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background: white;
  width: 90%;
}

.submit-booking-form {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#user-card-show-page {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background: white;
}

.pictures-display img {
  object-fit: cover;
  max-height: 410px;
  border: 3px solid white;
}

.pictures-display {
  max-height: 410px;
}

h5 {
  margin: 0;
}

.instrument-details {
  margin-top: 10px;
}

.fa-trash:before {
  color: #5E1515;
}
