<div class="footer">
  <div class="footer-content">
    <div class="footer-text">
    <p class="mr-2">© 2020 Musick, Inc. All rights reserved</p>
    <p class= "ml-2 mr-2"> ∙ </p>
      <p class="mr-2 ml-2">Imprint</p>
      <p class="mr-2 ml-2"> ∙ </p>
      <p class= "mr-2 ml-2">Conditions of use</p>
    </div>
    <div class="socials">
      <i class="fab fa-instagram ml-2"></i>
      <i class="fab fa-facebook ml-2"></i>
      <i class="fab fa-twitter ml-2 mr-5"></i>
    </div>
  </div>
</div>
