.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #5e1513;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: grey;
  color: white;
  opacity: 0.8;
  transition: background 0.3s ease;
  text-decoration: none;
}
