.category-card {
  height: 300px;
  width: 200px;
  object-fit: cover;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  align-items: center;
  margin: 15px;
  padding: 30px;
}

.category-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  // flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.categories-container {
  background-color: #D9DADD;
  padding: 20px;

}

.instruments-container {
  background-color: #f4f4f4;
  padding: 20px;
}
