
.footer {
  background: #B1a7a6;
  padding: 10px;
  color: #161a1d;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border-top: #161a1d, solid, 1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.socials {
  margin-right: 10px;
  font-size: 15px;
}

.footer-text {
  display: flex;

}

// .page-container {
//   display: grid;
//   min-height: 100vh;
//   grid-template-rows: auto 1fr auto;
// }
