.navbar-lewagon {
  background: #5e1513;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.nav-item {
  color: white;
}

#navbarDropdown {
  align-item: right
}

.navbar-expand-sm {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-item .icon{
  margin-right: 10px;
}



